.cuerpo{
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  justify-content: center;
  /* align-items: center; */
  /* background: #005792; */
}
.container {
  display: grid;
  grid-template-columns: 100px 1fr 600px 1fr 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-areas: "foto foto foto foto foto"
                        "while1 while1 while1 while1 while1"
                        ". . mensaje1 . ."
                        ". . aplicacion1 . ."
                        ". wili1 mensaje2 soon .";
}
.foto{
  grid-area: foto;
  background: #005792;
}
.foto img{
  max-width: 100%;
}
.ft {
  margin: 0;
}
.while1 {
  grid-area: while1;
  padding: 30px;
  background: #005792;
  font-size: 25px;
  color: #F1F4F6;
}
.mensaje1 {
  grid-area: mensaje1;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #00204A;
  padding: 20px;
  margin: 20px;
}

.aplicacion1 {
  grid-area: aplicacion1;
  padding: 20px;
  margin: 10px;
  background: #00BBF0;
  color: #00204A;
  height: 122px;
  border-radius: 10px;
}
.wili1 {
  grid-area: wili1;
  background: #005792;
  padding: 15px;
  padding-bottom: 14px;
  border-radius: 15px 0 0 15px;
}
.mensaje2 {
  grid-area: mensaje2;
  padding: 20px;
  text-align: left;
  background: #005792;
}
.soon {
  grid-area: soon;
  background: #005792;
  padding: 24px;
  border-radius: 0 15px 15px 0;
}
.cajita1 {
  background: rgba(255, 255, 255, .6);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #00204A;
}

.soon p{
  font-size: 24px;
  margin: 10px;
}
.soon h2 {
  font-size: 30px;
  margin: 10px;
}

.logit p {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-top: 10;
  margin-bottom: 0;
}
.logit h3 {
  font-size: 30px;
  margin-top: 0;
}
.modelo1 {
  /* background: #005792; */
  color: #F1F4F6;
}
